html, body {
      margin: 0;
      padding: 0;
      color: #252525;
}
body {
      background-color: #252525;
}

img {
      border: 0;
}

a {
      text-decoration: none;
}
a:active, a:focus{
      outline: none;
}


div#social-network {
      position: absolute;
      height: 50px;
      width: 250px;
      position: relative;
      margin: 22% auto 0 auto;
}
div#social-network i {
      margin-right: 15px; 
}
div#social-network a {
      color: #fff;
}
div#social-network a:hover {
      color: #ffd351;
}