@media (max-width: 640px) {

   body, element1, element2 {
      width: auto;
      margin: 0;
      padding: 0;
   }

   div#social-network {
      height: auto;
      width: auto;
      margin: auto;
      text-align: center;
      padding: 20px;
   }
   div#social-network i {
      position: relative;
      font-size: 5em;
      margin-top: 1em;
      text-indent: 0.2em;
   }

   .hide_mobile {
      display: none !important;
   }

}

@media (max-device-width:768px) and (orientation: landscape) {
  html {
   -webkit-text-size-adjust: 100%;
  }
}