body {
  background-color: #fafafa;
}

/* ––––––––––––––––––––––––
  Text format
*/

h1 {
  margin: 0 0 0.5em 0;
  font-family: FranklinGothic-Medium, Arial;
  font-size: 2.7em;
  line-height: 50px;
}
#introduction h1 {
  font-size: 3.7em;
}

p {
  padding: 0 0 20px 0;
  margin: 0;
  font-size: 1.3em;
  line-height: 1.6em;
}
.content p {
  font-size: 20px;
  line-height: 34px;
}
#introduction p {
  font-family: Georgia;
}

a, a:active {
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid lightgrey;
      color: #252525;
      cursor: pointer;
      font-style: italic;
} a:hover {
      border-bottom: 1px solid #252525;
}
#introduction a {
  font-weight: normal;
}

.summary a.readmore {
  display: inline-block;
  margin: 0 20px 0 0;
  font-family: AvenirNext-Medium, "Franklin Gothic", "Lucida Sans Unicode", Arial;
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  line-height: 2em;
  color: #333333;
  text-decoration: none;
  border-bottom: 1px solid #333;
}

pre,code  { font-size: 0.8em; font-family: 'Andale Mono', monospace; vertical-align: top}
pre       { overflow: auto; margin: 0 0 30px 0; line-height: 20px; padding: 20px; border-radius: 4px; background: #eee; }
code      { display: inline-block; font-size: 0.7em; white-space: nowrap; padding: 0 10px; border-radius: 3px; background: #F4B400; color:#333;  }

/* ––––––––––––––––––––––––
  Layout
*/

section {
  border-bottom: 1px solid #E1E1E1;
}

.slide { 
  background-color: #fff; 
}
.slide#introduction { 
  border: 50px solid #FAFAFA; 
  border-radius: 55px; 
}

.slide section {
  width: 800px;
  margin: auto;
  padding-top: 15%;
  border: none;
}

section .content {
  margin: 0 auto;
  padding: 50px;
}

img { display: block; margin: 0 auto 20px auto;}

/* ––––––––––––––––––––––––
  Icones
*/

#triangle-right {
  display: inline-block;
	width: 0;
	height: 0;
  margin-left: 5px;
	border-top: 4px solid transparent;
	border-left: 7px solid #333;
	border-bottom: 4px solid transparent;
}

.arrow-down {
  display: inline-block;
  position: absolute;
  bottom: 80px;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  background-image: url("../img/down_arrow_black.svg");
  background-size: contain;
  opacity: 0.3;
}

/* ––––––––––––––––––––––––
  Color schemes
*/

.grey { background: #FAFAFA; color:#333;}
.green { background-color: #57CB7F; }
.blue { background-color: #00B0CA; }
.pink { background-color: #FF4E4A; }
.red { background-color: #D44937; color:#FAFAFA; }
.purple { background-color: #895ECC; color:#333; }
.yellow { background-color: #F4B400; color: #333; }
